<h2>Lista de Alunos:</h2>
<div *ngIf="selectedAluno">
    <h2>{{selectedAluno.name | uppercase}} Details</h2>
    <div>Id: {{selectedAluno.id}}</div>
    <div>
        <label for="aluno-name"> Nome do aluno:</label>
        <input id="aluno-name" [(ngModel)]="selectedAluno.name" placeholder="name">
    </div>
    <div>Sexo: {{selectedAluno.sexo}}</div>
    <div>Idade: {{selectedAluno.idade}}</div>
</div>

<ul class="alunos">
    <li *ngFor="let aluno of alunos">
        <button type="button" (click)="onSelect(aluno)">
            <span class="badge">{{aluno.id}}</span>
            <span class="name">{{aluno.name}}</span>
        </button>
    </li>
</ul>